body {
  margin: 0;
  background-color: #1a1a1a;
  color: white;
  font-family: 'Inter', sans-serif;
  height: 500vh;

}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}